.love-icon{
    color: red;
}
a{
    text-decoration: underline;
    font-size: 14px !important;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: fixed;
    text-align: center;
    height: 50px;
    width: 100%;
    color: #fff;
    font-size: 14px;
}
footer{
    z-index: 1;
    background: #000;
    box-shadow: 0px 1px 16px rgba(0,255,255,0.5), 
                0px 2px 8px rgba(0,255,255,0.5), 
                0px 4px 4px rgba(0,255,255,0.5), 
                0px 8px 2px rgba(0,255,255,0.5);
    }
